apiVersion: v1
kind: Service
metadata:
  labels:
    # For use as a Cluster add-on (https://github.com/kubernetes/kubernetes/tree/master/cluster/addons)
    # If you are NOT using this as an addon, you should comment out this line.
    # kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: grafana
 #   cloud.google.com/load-balancer-type: "Internal"
  name: grafana
  namespace: monitoring
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
  selector:
    k8s-app: grafana
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-volume
  namespace: monitoring
  labels:
    type: local
spec:
  storageClassName: fast
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data/volumes/grafana-volume"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: grafana
  namespace: monitoring
spec:
  replicas: 1
  serviceName: grafana
  selector:
    matchLabels:
      k8s-app: grafana
  template:
    metadata:
      labels:
        task: monitoring
        k8s-app: grafana
    spec:
      securityContext:
        fsGroup: 472
        runAsUser: 472
      initContainers:
        - args:
          - mkdir -p /var/lib/grafana && chown -R 472:472 /var/lib/grafana
          command:
          - /bin/sh
          - -c
          image: busybox:1.31.1
          imagePullPolicy: IfNotPresent
          name: init-chown-data
          securityContext:
            runAsUser: 0
          volumeMounts:
            - mountPath: /var
              name: grafana-storage
      containers:
        - name: grafana
          image: grafana/grafana:6.7.1
          ports:
            - containerPort: 3000
              name: http
          livenessProbe:
            httpGet:
              port: http
              path: /login
          readinessProbe:
            httpGet:
              port: http
              path: /login
          securityContext:
            runAsUser: 472
          volumeMounts:
            - mountPath: /etc/ssl/certs
              name: ca-certificates
              readOnly: true
            - mountPath: /var
              name: grafana-storage
          env:
            - name: GF_SERVER_HTTP_PORT
              value: "3000"
              # The following env variables are required to make Grafana accessible via
              # the kubernetes api-server proxy. On production clusters, we recommend
              # removing these env variables, setup auth for grafana, and expose the grafana
              # service using a LoadBalancer or a public IP.
            - name: GF_AUTH_BASIC_ENABLED
              value: "false"
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ORG_ROLE
              value: Admin
            - name: GF_SERVER_ROOT_URL
              # If you're only using the API Server proxy, set this value instead:
              # value: /api/v1/namespaces/kube-system/services/monitoring-grafana/proxy
              value: /
      volumes:
        - name: ca-certificates
          hostPath:
            path: /etc/ssl/certs
  volumeClaimTemplates:
    - metadata:
        name: grafana-storage
        namespace: monitoring
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: fast
        resources:
          requests:
            storage: 2Gi