# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
**/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/launch.json

# System Files
.DS_Store
Thumbs.db

# Predictive monitoring
predictive_monitoring/.ipynb_checkpoints
predictive_monitoring/__pycache__

