@import '@angular/material/theming';

// Define a theme (modified version of code from https://github.com/angular/components/blob/9.2.x/src/material/core/theming/prebuilt/indigo-pink.scss).
// The primary color palette.
$polaris-theme-primary: mat-palette($mat-indigo);

// The accent color palette.
$polaris-theme-accent:  mat-palette($mat-pink, A200, A100, A400);

// Create the actual theme.
$polaris-theme: mat-light-theme($polaris-theme-primary, $polaris-theme-accent);


// Store the main colors in global variables.
$polaris-color-primary: mat-color($polaris-theme-primary);
$polaris-color-accent: mat-color($polaris-theme-accent);
$polaris-color-foreground: map-get(map-get($polaris-theme, "foreground"), "base");
$polaris-color-background: map-get(map-get($polaris-theme, "background"), "background");
$polaris-color-white: white;
