@import '~@angular/material/theming';

// Define a theme (modified version of code from https://github.com/angular/components/blob/9.2.x/src/material/core/theming/prebuilt/indigo-pink.scss).
// The primary color palette.
$sloc-theme-primary: mat-palette($mat-indigo);

// The accent color palette.
$sloc-theme-accent:  mat-palette($mat-pink, A200, A100, A400);

// Create the actual theme.
$sloc-theme: mat-light-theme($sloc-theme-primary, $sloc-theme-accent);


// Store the main colors in global variables.
$sloc-color-primary: mat-color($sloc-theme-primary);
$sloc-color-accent: mat-color($sloc-theme-accent);
$sloc-color-foreground: map-get(map-get($sloc-theme, "foreground"), "base");
$sloc-color-background: map-get(map-get($sloc-theme, "background"), "background");
$sloc-color-white: white;
