<mat-nav-list>
    <polaris-navigation-item
        [title]="'common.control_center' | translate"
        icon="home"
        routerLink="/control-center"
    ></polaris-navigation-item>
    <polaris-navigation-item
        [title]="'common.plugins' | translate"
        icon="extension"
        routerLink=""
    ></polaris-navigation-item>
    <polaris-navigation-item
        [title]="'common.metrics' | translate"
        icon="biotech"
        routerLink=""
    ></polaris-navigation-item>
    <polaris-navigation-item
        [title]="'common.slos' | translate"
        icon="fact_check"
        routerLink=""
    ></polaris-navigation-item>
    <polaris-navigation-item
        [title]="'common.visualization' | translate"
        icon="assessment"
        routerLink="/visualization"
    ></polaris-navigation-item>
</mat-nav-list>
